<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>theeTable</title>
    <link rel="shortcut icon" type="image/png" href="assets/favicon.ico">
    <link href="library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="library/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="library/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
    <link href="library/angular-emoji-filter-hd/dist/emoji.min.css" rel="stylesheet">
    <link href="assets/snackbar/snackbar.min.css" rel="stylesheet">
    <link href="assets/styles/style.css" rel="stylesheet">

  </head>
  <body ng-app="theeTable">
    <div class="theeTable" ng-controller="mainController">
      <div class="thee-table" ng-if="showApp">
        <nav class="navbar navbar-fixed-top navbar-default main-navbar" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="" ng-click="credits()"><i class="mdi-hardware-speaker big-icon tt-icon"></i>  Thee Table. ( v0.1)</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="">Link</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="">One more separated link</a></li>
                  </ul>
                </li>
              </ul> -->
              <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
                <li><a ui-sref="rooms" ng-if="inRoom()"><span class="mdi-file-file-upload md-icon"></span>  Back to Rooms</a></li>
                <li><a ui-sref="logout"><span class="glyphicon glyphicon-log-out md-icon"></span>  Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>

      <div ui-view> </div>

    </div>

    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script src="library/sdk.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="library/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="library/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="library/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="library/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script type="text/javascript" src="library/bootstrap-material-design/dist/js/material.min.js"></script>
    <script type="text/javascript" src="assets/snackbar/snackbar.min.js"></script>
    <script type="text/javascript" src="library/angular/angular.min.js"></script>
    <script type="text/javascript" src="library/ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="library/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="library/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="library/angular-ui-sortable/sortable.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="library/angular-emoji-filter-hd/dist/emoji.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/mainController.js"></script>
    <script type="text/javascript" src="js/controllers/roomsController.js"></script>
    <script type="text/javascript" src="js/controllers/roomController.js"></script>
    <script type="text/javascript" src="js/controllers/searchController.js"></script>
    <script type="text/javascript" src="js/controllers/managePlaylistController.js"></script>
    <script type="text/javascript" src="js/controllers/viewFavoritesController.js"></script>
    <script type="text/javascript" src="js/controllers/viewFavoriteRoomsController.js"></script>
    <script type="text/javascript" src="js/controllers/createRoomController.js"></script>
    <script type="text/javascript" src="js/services/theeTableAuth.js"></script>
    <script type="text/javascript" src="js/services/theeTableRooms.js"></script>
    <script type="text/javascript" src="js/services/theeTableSocket.js"></script>
    <script type="text/javascript" src="js/services/theeTableTime.js"></script>
    <script type="text/javascript" src="js/services/theeTableSoundcloud.js"></script>
    <script type="text/javascript" src="js/services/theeTableUrl.js"></script>
    <script type="text/javascript" src="js/directives/soundcloudDirective.js"></script>
    <script type="text/javascript" src="js/directives/inputDirective.js"></script>

    <script>
      var scID = '<%= scID %>';
      var ttURL = '<%= ttURL %>';
    </script>
  </body>
</html>
