<div>
	<div class="message-tab" ng-click="tab()">
		<button class="btn btn-default"><i class="mdi-communication-message big-icon"></i></button>
	</div>
	<br />
	<br />
	<div class="panel panel-primary chat-head">
		<div class="chat-info">
			<span class="pull-right">{{ roomLength }} <i class="mdi-action-account-child big-icon"></i></span>
			<div class="chats">
				<div ng-repeat="chat in roomChat">
					<span ng-if="chat.user !== ''"><b>{{ chat.user }}</b>: <span ng-bind-html="chat.msg | emoji">{{ chat.msg }}</span> </span>
					<span ng-if="chat.user === ''"><b>{{ chat.msg }}</span>
				</div>
			</div>
		</div>
		<div class="chat-box">
			<custom-input-box socket="socket" input="message"></custom-input-box>
		</div>
	</div>
</div>
