<h1>{{ current }}!</h1>
<div class="container">
	<div class="row">
		<div ng-if="message" class="alert alert-danger" role="alert"> <strong>Sorry!</strong> {{ message }} </div>
		<form name="logInForm" ng-submit='auth(username, password)' novalidate>
			<div class="form-group form-group-lg">
			<div class="input-group input-auth">
				<input type="text" name="logInUsername" ng-model="username" class="form-control floating-label" placeholder="username" /><br />
				<input type="password" name="logInPassword" ng-model="password" class="form-control floating-label" placeholder="password" /><br />
				<button type="submit" ng-disabled='authDisabled()' class="btn btn-default">Submit</button>
			</div>
			</div>
		</form>

		<p ng-if="current === 'signup'">
			New to Thee Table? <a href="" ng-click="switchForm()">Sign Up Here!</a>
		</p>
		<p ng-if="current === 'login'">
			Already a member of Thee Table? <a href="" ng-click="switchForm()">Log In Here!</a>
		</p>
	</div>
</div>

<script>
		$(document).ready(function() {
				$.material.init();
		});
</script>
