<div class="panel panel-primary auth-panel">
	<div class="login center">
			<div ng-if="message" class="alert alert-danger" role="alert">
				 <span class="bold">Sorry!</span> {{ message }}
			</div>
			<form name="logInForm" ng-submit='auth(login.username, login.password)' novalidate>
				<div class="form-group form-group-md">
					<div class="input-group input-auth">
						<input type="text" name="logInUsername" ng-model="login.username" class="form-control floating-label" placeholder="{{ prompt.username }}" /><br />
						<input type="password" name="logInPassword" ng-model="login.password" class="form-control floating-label" placeholder="{{ prompt.password }}" /><br />
						<button type="submit" ng-disabled='authDisabled()' class="btn btn-default">{{ current }}</button>
					</div>
				</div>
			</form>

			<p ng-if="current === 'login'">
				New to Thee Table? <a href="" ng-click="switchForm()">Sign Up Here!</a>
			</p>
			<p ng-if="current === 'new'">
				Already a member of Thee Table? <a href="" ng-click="switchForm()">Log In Here!</a>
			</p>

			<br />
			<div class="center">
				<p>
					<h4>OR</h4>
					<button ng-click="authSC()" class="btn btn-default">Login with SoundCloud</button>
				</p>
			</div>
	</div>
</div>

<script>
	$(document).ready(function() {
			$.material.init();
	});
</script>
