<div class="manage">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Playlist</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody ui-sortable="sortableOptions" ng-model="playlist">
			<tr ng-repeat="song in playlist">
				<td>
					{{ $index + 1 }}
				</td>
				<td>
					{{ song.title }}
				</td>
				<td>
					<span ng-click="remove(index)" class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<button ng-click="searchSC()" class="btn btn-default">Add a song from SoundCloud</button>

<script>
$(document).ready(function() {
	$.material.init();
});
</script>
