
<div ng-if="room">
	<div class="container">
		<div class="row">
			<center>
				<h3>{{ room.name }}</h3>
				<p>
					{{ room.users.length }} user(s) in this room.<br />
					{{ currentUser }}<br />
					<button ng-click="addToQueue()" class="btn btn-default">Enter Queue</button>
				</p>
			</center>
		</div>
	</div>
</div>

<div ng-if="room">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="playing">
					<h3>{{ title }}</h3>
					<div class="soundcloud">
						<iframe id="sc-widget" ng-src="{{ currentSong }}" width="100%" height="98%" scrolling="no" frameborder="no"></iframe>
					</div>
				</div>
				<div class="queue">
					<div ng-repeat="user in room.queue">
						{{ user.name }} <!-- Votes:  {{ song.votes }} -->
					</div>
				</div>
				<div class="queue">
					<div ng-repeat="song in currentUser.playlist">
						{{ song }} <!-- Votes:  {{ song.votes }} -->
					</div>
				</div>
				<div>
					<form name="playlistForm" ng-submit='submitPlaylistItem(url)' novalidate>
						<div class="form-group form-group-md">
							<div class="input-group input-group-md">
								<input type="text" name="source" ng-model="url" class="form-control floating-label" placeholder="Input a url."/>
								<span class="input-group-btn">
									<button type="submit" ng-disabled="submitPlaylistItemDisabled()" class="btn btn-default">Send</button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="chats">
					<div ng-repeat="chat in room.chat">
						{{ chat.user }}: {{ chat.msg }}
					</div>
				</div>
				<div>
					<form name="chatForm" ng-submit='submitMessage(msg)' novalidate>
						<div class="form-group">
							<div class="form-group form-group-md">
								<div class="input-group input-group-md">
									<input type="text" name="message" ng-model="msg" class="form-control floating-label" placeholder="Send a message."/>
									<span class="input-group-btn">
										<button type="submit" ng-disabled="submitMessageDisabled()" class="btn btn-default">Send</button>
									</span>
								</div>
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
			$.material.init();
	});
</script>
