<div ng-if="rooms">
	<div class="container">
		<div class="row">
			<h3>Create a Room</h3>
			<custom-input-box socket="$parent.socket" input="room"></custom-input-box>
		</div>
	</div>
</div>


<div ng-if="rooms" class="container">
	<div class="row">
		<input type="text" class="form-control floating-label" placeholder="Search for an existing room." ng-model="searchRoom.name"></input>
		<div class="rooms" ng-repeat="room in rooms | filter:searchRoom">
			<h3>{{ room.name }}</h3>
			<button ng-click="navigate(room.name)" class="btn btn-danger">Go to this room.</button>
			<p>
				{{ room.users.length }} user(s) in the room.
			</p>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		setTimeout(function() {
			$.material.init();
		},0);
	});
</script>
