
<div ng-if="room">
	<div class="container">
		<div class="row">
			<h3>{{ room.name }}</h3>
			<p>
				{{ room.users.length }} user(s) in this room.
			</p>

			<div>
				<div ng-repeat="chat in room.chat">
					{{ chat.user }}: {{ chat.msg }}
				</div>
			</div>
			<div ng-repeat="song in room.queue">
				Song: {{ song.source }}<br />
				Votes:  {{ song.votes }}
			</div>
		</div>
	</div>
</div>

<div>
	<div class="container">
		<div class="row">
			<form name="chatForm" ng-submit='submitMessage(msg)' novalidate>
				<div class="form-group">
					<div class="form-group form-group-lg">
						<input type="text" name="message" ng-model="msg" class="form-control" placeholder="Send a message." required />
					</div>
				</div>
				<div class="input-group input-group-lg">
					<button type="submit" ng-disabled="submitMessageDisabled()" class="btn btn-danger">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div>
	<div class="container">
		<div class="row">
			<form name="queueForm" ng-submit='submitQueueItem(url)' novalidate>
				<div class="form-group">
					<div class="form-group form-group-lg">
						<input type="text" name="source" ng-model="url" class="form-control" placeholder="Input a url." required />
					</div>
				</div>
				<div class="input-group input-group-lg">
					<button type="submit" ng-disabled="submitQueueItemDisabled()" class="btn btn-danger">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
