
<div ng-if="room">
	<div class="container">
		<div class="row">
			<center>
				<h2 class="bold">{{ room.name }}<i ng-click="addRoom()" ng-if="!storedInUser()" class="mdi-content-add-box"></i></h2>
				<p>
					{{ room.users.length }} user(s) in this room.<br />
				</p>
			</center>
		</div>
	</div>
</div>
<div ng-if="room">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel-head">
					<div class="panel panel-primary queue-music">
						<div class="panel-heading">
							<h4 ng-if="title">{{ title }}</h4>
							<h4 ng-if="!title">No Song Playing.</h4>
						</div>
						<div class="panel-body">
							<div class="queue-outer">
								<div class="queue-table">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th></th>
											<th>
												Current Queue
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="room.queue.length === 0">
											<td></td>
											<td>
												None
											</td>
										</tr>
										<tr ng-if="room.queue.length > 0" ng-repeat="user in room.queue">
											<td>
												{{ $index+1 }}
											</td>
											<td>
												{{ user }}
											</td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
							<div class="song-info center">
								<button ng-if="room.queue.indexOf(currentUser.username) === -1" ng-click="addToQueue()" class="btn btn-default btn-xs">Enter Queue</button>
								<button ng-if="room.queue.indexOf(currentUser.username) >= 0" ng-click="removeFromQueue()" class="btn btn-default btn-xs">Leave Queue</button>
								<button ng-show="room.currentDJ === currentUser.username" ng-click="skip()" class="btn btn-default btn-xs">Skip My Turn</button>
								<div class="song-content" ng-if="title">
									Artist: {{ room.currentSong.artist }}<br />
									Duration: {{ convertTime(room.currentSong.length - room.currentTime) }}<br />
									<a ng-if="!storedInLikes()" href="" ng-click="like(room.currentSong)" class="btn btn-default btn-fab btn-raised mdi-action-favorite"></a>
								</div>
							</div>
							<br />
							<span ng-if="currentUser.playlist[0]"><b>Song on Deck:</b> {{ currentUser.playlist[0].title }}</span>
							<div class="soundcloud">
								<sound-cloud-player socket="socket" current-song='room.currentSong' room="room" username="$parent.currentUser.username" title="title"></sound-cloud-player>
							</div>
						</div>
					</div>
				</div>
				<div class="center">
					<button ng-click="managePlaylist()" class="btn btn-default"> Manage Your Playlist </button>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary chat-head">
					<h4><b>Messages</b></h4>
					<div class="chats">
						<div ng-repeat="chat in room.chat">
							<span ng-if="chat.user !== ''"><b>{{ chat.user }}</b>: {{ chat.msg }}</span>
							<span ng-if="chat.user === ''"><b>{{ chat.msg }}</span>
						</div>
					</div>
				</div>
				<div>
					<!-- <form name="chatForm" ng-submit='submitMessage(newChatMessage.msg)' novalidate>
						<div class="form-group">
							<div class="form-group form-group-md">
								<div class="input-group input-group-md">
									<input type="text" name="message" ng-model="newChatMessage.msg" class="form-control floating-label" placeholder="Send a message."/>
									<span class="input-group-btn">
										<button type="submit" ng-disabled="submitMessageDisabled()" class="btn btn-default">Send</button>
									</span>
								</div>
						</div>
						</div>
					</form> -->
					<custom-input-box socket="$parent.socket" input="message"></custom-input-box>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
			$.material.init();
	});
</script>
