<h1 class="manage" >Search SoundCloud</h1>

<form name="playlistForm" ng-submit='search(soundcloud.query)' novalidate>
	<div class="form-group form-group-md">
		<div class="input-group input-group-md">
			<input type="text" name="source" ng-model="soundcloud.query" class="form-control floating-label" placeholder="Find a song."/>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default">Search</button>
			</span>
		</div>
	</div>
</form>

<table class="manage table table-striped">
	<thead>
		<tr>
			<th>Song Results</th>
			<th></th>
		<tr>
	<tbody>
		<tr ng-repeat="track in soundcloud.results">
			<td>
				{{ track.title }} by: {{ track.user.username }}
			</td>
			<td>
				<span ng-click="updatePlaylist( track.permalink_url, track.title )" class="glyphicon glyphicon-plus"></span>
			</td>
		</tr>
	</tbody>
</table>
