<div ng-if="rooms" class="container">
	<div class="row">
		<div class="col-md-12 center pad">
			<button ng-click="createRoom()" class="btn btn-danger">Create a New Room  <i class="mdi-image-edit big-icon"></i></button><br />
			OR<br />
			<input type="text" class="form-control" placeholder="Search for an existing room." ng-model="searchRoom.name"></input>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-primary rooms center" ng-repeat="room in rooms | filter:searchRoom">
			<h3>{{ room.name }}</h3>
			<p>
				<a href="" ng-click="navigate(room.name)" class="btn btn-default btn-fab btn-raised glyphicon glyphicon-save"></a><br />
				{{ room.users.length }} user(s) in the room.
			</p>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>
