
<div ng-if="room">
	<div class="container">
		<div class="row center">
			<h2 class="bold">{{ room.name }}</h2>
		</div>
	</div>
</div>
<div ng-if="room">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<room-interface title="title" room="room" current-user="currentUser" liked="liked" socket="$parent.socket" sound="sound" showing="showing"></room-interface>
				<div id="playlist">
					<button ng-click="managePlaylist(room.name)" class="btn btn-default"><i class="mdi-av-queue-music big-icon"></i></button>
				</div>
			</div>
		</div>
	</div>
	<messages-tab id="messages-bar" socket="$parent.socket" room-length="room.users.length" room-chat="room.chat" showing="showing"></messages-tab>
</div>

<script>
	$(document).ready(function() {
			$.material.init();
	});
</script>
