<div class="panel-head">
	<div class="panel panel-primary queue-music">
		<div class="panel-heading">
			<div ng-if="!title" class="center">
				<span class="song-title">Jump in & play some music!</span>
			</div>
			<div ng-if="title">
				<span class="glyphicon glyphicon-off glyphicon-refresh-animate-flip"></span> <span class="glyphicon glyphicon-off glyphicon-refresh-animate"></span>&nbsp;&nbsp;
				<span class="song-title">{{ title }}</span>
			</div>
		</div>
		<div class="panel-body">
			<div class="queue-outer">
				<div class="queue-table">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="center">
								<icon class="mdi-editor-format-list-numbered big-icon"></i>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="room.queue.length === 0">
							<td class="center">
								None
							</td>
						</tr>
						<tr ng-if="room.queue.length > 0" ng-repeat="user in room.queue">
							<td class="center">
								{{ user }}
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			<div class="song-info center">
				<button ng-if="room.queue.indexOf(currentUser.username) === -1" ng-click="addToQueue()" class="btn btn-default btn-xs"><i class="mdi-file-file-download big-icon"></i></button>
				<button ng-if="room.queue.indexOf(currentUser.username) >= 0" ng-click="removeFromQueue()" class="btn btn-default btn-xs"><i class="mdi-file-file-upload big-icon"></i></button>
				<button ng-if='title && !refresh' ng-click="refreshPlayer()" class="btn btn-xs btn-default"><i class="big-icon mdi-av-loop"></i></button>
				<button ng-show="room.currentDJ === currentUser.username && title" ng-click="skip()" class="btn btn-default btn-xs"><i class="mdi-av-fast-forward big-icon"></i></button>
				<div class="song-content center" ng-show="title">
					<rzslider rz-slider-floor="0" rz-slider-ceil="100" rz-slider-model="sound" rz-slider-translate="translate"></rzslider>
					Artist: {{ room.currentSong.artist }}<br />
					Duration: {{ convertTime(room.currentSong.length - room.currentTime) }}<br />
					<a href="" ng-click="like(room.currentSong)" class="btn btn-default btn-fab btn-raised mdi-action-favorite"></a>
				</div>
			</div>
			<span ng-if="currentUser.playlist[0] && currentUser.username !== room.currentDJ"><b>Next:</b> {{ currentUser.playlist[0].title }}</span>
			<span ng-if="currentUser.playlist.length === 1 && currentUser.username === room.currentDJ"><b>Next:</b> {{ currentUser.playlist[0].title }}</span>
			<span ng-if="currentUser.playlist.length > 1 && currentUser.username === room.currentDJ"><b>Next:</b> {{ currentUser.playlist[1].title }}</span>
			<div class="soundcloud">
				<sound-cloud-player socket="socket" current-song='room.currentSong' room="room" username="currentUser.username" title="title" sound="sound" refresh="refresh" ></sound-cloud-player>
			</div>
		</div>
	</div>
</div>
