<br />
<div ng-if="rooms" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="center">
				<button ng-click="createRoom()" class="btn btn-xs btn-danger">Create Room <i class="mdi-image-edit big-icon"></i></button>
				<div class="panel panel-primary pad">
					<br />
					<input type="text" class="form-control" placeholder="Search for an existing room." ng-model="searchRoom.name"></input><br />
				</div>
				<div class="panel panel-primary rooms center room-enter" ng-repeat="room in rooms | orderBy: '-users.length' | filter:searchRoom ">
					<h3>{{ room.name }}</h3>
					<p class="rooms-info">
						<a href="" ng-click="navigate(room.name)" class="btn btn-default btn-fab btn-raised room-btn"><i class="mdi-file-file-download big-icon"></i></a><br />
						{{ room.users.length }} <i class="mdi-action-account-child big-icon"></i><br />
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>
