.main-navbar {
	background-color: #2C3E50;
}

a, .dropdown-menu>li>a {
	color: #617487;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #FFF;
	background-color: #0C2032;
}

.navbar-default .navbar-nav>li>a {
	color: #617487;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #FFF;
	background-color: #0C2032;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #617487;
}

body {
	padding-top: 60px;
}

.form-control {
	color: #3c3c3c;
}

.form-control-wrapper .form-control:focus ~ .material-input:after,
.form-control-wrapper .form-control.focus ~ .material-input:after {
	background-color: #2C3E50;
}

.form-control-wrapper .material-input:before {
	background-color: #2C3E50;
}

.form-group .material-input:before, .form-group-default .material-input:before, .form-group-primary .material-input:before {
	background-color: #2C3E50;
}

.form-group .material-input:before, .form-group-default .material-input:before, .form-group-primary .material-input:before {
	background-color: #2C3E50;
}

.form-group .material-input:before,
.form-group-default .material-input:before {
	background-color: #2C3E50;
}

.form-group-primary .material-input:before {
	background-color: #2C3E50;
}

.form-group input.form-control:focus ~ .material-input:after,
.form-group-default input.form-control:focus ~ .material-input:after {
	background-color: #2C3E50;
}
.form-group-primary input.form-control:focus ~ .material-input:after {
	background-color: #2C3E50;
}

.form-group input.form-control:not(.empty)~.floating-label, .form-group-default input.form-control:not(.empty)~.floating-label, .form-group-primary input.form-control:not(.empty)~.floating-label {
	color: #2C3E50;
}

.form-group .material-input:before,
.form-group-default .material-input:before {
	background-color: #2C3E50;
}

.form-group {
	padding: 5px;
	margin-bottom: 0px;
}

.input-auth {
	display: inline;
}

.btn-default:not(.btn-link):not(.btn-flat), .btn:not(.btn-link):not(.btn-flat) {
	background-color: #2C3E50;
	color: #FFFFFF;
}

.dropdown-menu li a:hover {
	background-color: transparent;
	color: #0C2032;
}

.dropdown-menu li a:hover,
.dropdown-menu-default li a:hover {
	color: #0C2032;
}

.chats {
	height: 300px;
	border-color: #0C2032;
	border-style: solid;
	padding: 5px;
	margin: 5px;
}

.playing {
	height: 250px;
	border-color: #0C2032;
	border-style: solid;
	padding: 5px;
	margin: 5px;
}

.queue {
	height: 50px;
	border-color: #0C2032;
	border-style: solid;
	padding: 5px;
	margin: 5px;
	overflow-y: scroll;
}
