<div class="manage">
	<div class="exit">
		<i class="big-icon mdi-navigation-close" ng-click="closeModal()"></i>
	</div>
	<br/>
	<div>
		<div ng-if="message" class="alert alert-danger" role="alert">
			<strong>Sorry!</strong> {{ message }}
		</div>
		<form name="inputForm" ng-submit="create(room.value)" novalidate>
			<div class="form-group">
				<div class="form-group form-group-md">
					<div class="input-group input-group-md">
						<input type="text" id="room-name" name="inputName" ng-model="room.value" class="form-control floating-label" placeholder="Choose a New Room Name"/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span>  Create</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>
