<div class="manage center">
	<br />
	<div>
		Stay up to date by following: <br />
		<br />
		<a target="_blank" href="http://www.twitter.com/theetableio">
			<img src="http://oi61.tinypic.com/154dc0z.jpg"/> @theetableio
		</a><br />
		<br />
		Have any feature enhancements? Tell us: <br />
		<br />
		theetableio@gmail.com
	</div>
	<hr />
	<div>
		Created by:
		<h1><a href="http://pini.li">Justin Pinili</a></h1>
		<p>
			Software Engineer<br />
			pinili.justin@gmail.com
		</p>
		<div class="social-media">
			<div class="sm-ind">
				<a target="_blank" href="http://justinpinili.com">
					<img class="sm shrink" src="http://oi58.tinypic.com/28k4hhf.jpg"/>
				</a>
			</div>
			<div class="sm-ind">
				<a target="_blank" href="https://github.com/justinpinili">
					<img class="sm" src="http://oi61.tinypic.com/24dkexg.jpg"/>
				</a>
			</div>
			<div class="sm-ind">
				<a target="_blank" href="http://www.linkedin.com/pub/justin-pinili/3a/331/189/">
					<img class="sm" src="http://oi62.tinypic.com/5lp3dv.jpg"/>
				</a>
			</div>
			<div class="sm-ind">
				<a target="_blank" href="http://www.twitter.com/jro_bot">
					<img class="sm" src="http://oi61.tinypic.com/154dc0z.jpg"/>
				</a>
			</div>
			<div class="sm-ind">
				<a target="_blank" href="https://www.soundcloud.com/jro_bot">
					<img class="sm" src="http://oi62.tinypic.com/vxypnk.jpg"/>
				</a>
			</div>
		</div>
	</div>
</div>
