<div class="manage">
	<div class="exit">
		<i class="big-icon mdi-navigation-close" ng-click="close()"></i>
	</div>
	<h2>Playlist</h2>
	<div ng-if="playlist.length === 0">
		Search soundcloud to add songs individually or Import your soundcloud playlists/likes!
	</div>
	<table ng-if="playlist.length > 0" class="table table-striped table-hover choice">
		<thead>
			<tr>
				<th>Order</th>
				<th>Artist</th>
				<th>Title</th>
				<th>Length</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody ui-sortable="sortableOptions" ng-model="playlist">
			<tr ng-class="{ info: 0 === $index }" ng-repeat="song in playlist">
				<td>
					{{ $index + 1 }}
				</td>
				<td>
					{{ song.artist }}
				</td>
				<td>
					{{ song.title }}
				</td>
				<td>
					{{ convertTime(song.length) }}
				</td>
				<td>
					<i ng-click="bump($index)" class="mdi-editor-publish md-icon"></i>
				</td>
				<td>
					<span ng-click="remove($index)" class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="center">
		<button ng-click="searchSC()" class="btn btn-default"><i class="mdi-action-search big-icon"></i> on <span><img src="./assets/soundcloud_logo.png"/></span></button>
		<button ng-if="!possiblePlaylists" ng-click="connectSC()" class="btn btn-default">Import <i class="mdi-av-my-library-music big-icon"></i> from <span><img src="./assets/soundcloud_logo.png"/></span></button>
		<div ng-if="possiblePlaylists && possiblePlaylists === 'start'">
			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
		</div>
		<div ng-if="possiblePlaylists !== 'start' && possiblePlaylists">
			<table class="table table-striped table-hover choice">
				<thead>
					<tr>
						<th></th>
						<th>Select one of the following to <span class="bold">replace</span> your playlist:</th>
						<th></th>
					</tr>
				</thead>
				<tbody ui-sortable="sortableOptions" ng-model="playlist">
					<tr ng-click="importPlaylist(playlist)" ng-repeat="playlist in possiblePlaylists">
						<td>
						</td>
						<td>
							{{ playlist.title }}
						</td>
						<td>
							<i class="mdi-av-queue-music big-icon"></i>
						</td>
					</tr>
					<tr ng-click="importPlaylist(likes, 'likes')">
						<td>
						</td>
						<td>
							Import your 50 most recent likes on SoundCloud
						</td>
						<td>
							<i class="mdi-av-queue-music big-icon"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>
