<div class="manage">
	<div class="exit">
		<i class="big-icon mdi-navigation-close" ng-click="close()"></i>
	</div>
	<h2>Favorite Rooms</h2>
	<div ng-if="rooms.length === 0">
		Look for the <span class="mdi-action-grade"></span> next to the room name to add it to your favorite rooms.
	</div>
	<div>
		Click on a name to leave your current room and go there!
		<div class="center favorite-rooms-holder">
			<table ng-if="rooms.length > 0" class="table table-striped table-hover choice favorite-rooms">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody ui-sortable="sortableOptions" ng-model="rooms">
					<tr ng-repeat="room in rooms">
						<td>
							<span ng-click="navigate(room)">{{ room }}</span>
						</td>
						<td>
							<span ng-click="remove($index)" class="glyphicon glyphicon-remove"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>
