<div class="manage">
	<div class="exit">
		<i class="big-icon mdi-navigation-close" ng-click="close()"></i>
	</div>
	<h2>Favorites</h2>
	<div ng-if="favorites.length === 0">
		When you are in a room, look for the <a href="" class="btn btn-default btn-fab btn-raised mdi-action-favorite"></a> to add it to your Liked Songs List.
	</div>
	<div ng-if="favorites.length > 0">
		When you click on a room name, it will take you to that room.
	</div>
	<table ng-if="favorites.length > 0" class="table table-striped table-hover choice">
		<thead>
			<tr>
				<th>Order</th>
				<th>Artist</th>
				<th>Title</th>
				<th>Length</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody ui-sortable="sortableOptions" ng-model="favorites">
			<tr ng-repeat="song in favorites">
				<td>
					{{ $index + 1 }}
				</td>
				<td>
					{{ song.artist }}
				</td>
				<td>
					{{ song.title }}
				</td>
				<td>
					{{ convertTime(song.length) }}
				</td>
				<td>
					<i ng-click="addToPlaylist(song)" class="mdi-av-playlist-add big-icon"></i>
				</td>
				<td>
					<span ng-click="remove($index)" class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>
		</tbody>
	</table>

</div>

<script>
	$(document).ready(function() {
		$.material.init();
	});
</script>
