<div class="manage">
	<div class="exit">
		<i class="big-icon mdi-navigation-close" ng-click="close()"></i>
	</div>
	<h2>Favorite Rooms</h2>
	<div ng-if="rooms.length === 0">
		Look for the <i class="glyphicon glyphicon-star"></i> next to the room name to add it to your favorites!
	</div>
	<table ng-if="rooms.length > 0" class="table table-striped table-hover choice">
		<thead>
			<tr>
				<th>Order</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody ui-sortable="sortableOptions" ng-model="rooms">
			<tr ng-repeat="room in rooms">
				<td>
					{{ $index + 1 }}
				</td>
				<td>
					<span ng-click="navigate(room)">{{ room }}</span>
				</td>
				<td>
					<span ng-click="remove($index)" class="glyphicon glyphicon-remove"></span>
				</td>
			</tr>
		</tbody>
	</table>

</div>

<script>
$(document).ready(function() {
	$.material.init();
});
</script>
